.outerstrip {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  position: fixed;
  right: 2vw;
  bottom: 15vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: scale 2s infinite;
}

.innerstrip {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  position: absolute;
  background-color: yellowgreen;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.dialog {
  width: 35vw;
  height: 85vh;
  background-color: white;
  border-radius: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
}
.dialogheader {
  width: 100%;
  height: 12%;
  background-color: #2ea5f4;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.048);
}
.headertitle {
  color: white;
  font-size: 1.5rem;
  margin-left: 1em;
}
.chatcont {
  width: 100%;
  height: 55%;
  overflow-y: scroll;
}
.chatInnerCont {
  display: flex;
  flex-direction: column;
}
.chatcont::-webkit-scrollbar {
  width: 0;
}
.inputer {
  display: block;
  margin: auto;
  width: 90%;
  height: 5%;
  border-left: 0px;
  border-right: 0px;
  border-top: 1px solid rgba(128, 128, 128, 0.477);
  border-bottom: 0px;
  font-size: large;
  outline: none;
  margin-top: 1em;
}
.sendbtn {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: linear-gradient(0deg, #2ea5f4, #a6d1e8);
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sendbtn > img {
  width: 50%;
  height: 50%;
}
.received {
  text-align: justify;
  width: 50%;
  height: auto;
  margin-left: 1em;
  margin-top: 0.5em;
  border-radius: 50px;
  background-color: rgb(217, 235, 242);
  text-transform: capitalize;
  padding: 1em;
}
.sent {
  text-align: justify;
  width: 50%;
  align-self: flex-end;
  margin-right: 1em;
  margin-top: 0.5em;
  height: auto;
  border-radius: 50px;
  background: linear-gradient(90deg, #2ea5f4, #60bff3);
  text-transform: capitalize;
  padding: 1em;
  color: white;
}
