.footercont {
  width: 100vw;
  height: 40vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}
.section {
  width: 25%;
  height: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  align-items: center;
  padding: 10px;
}
.section  p{
  font-size: 1vw;
}
.heading {
  width: 90%;
  height: 20%;
  background-color: rgb(31, 7, 120);
  color: white;
  font-size: 1.2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}
